* {
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}


.img-container-primary {
    width: 650px ;
    height: 450px ;
}


.img-container-secondary {
    width: 500px ;
    height: 350px ;
}

